<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva
    
    </title>
    <link rel="stylesheet" href="../../CSS/estilo.CSS">
</head>
<body>
          <!--Incio encabezado-->
          <header class="header">
            <div>
                <a target="_blank" href="https://instagram.com/_lecrack?utm_medium=copy_link"> 
                    <img src="../../asset/icons/instagram.png" width="32" height="32">
                </a>
                <a target="_blank" href="https://wa.me/+5493572527891">
                    <img src="../../asset/icons/whatsapp.png" width="32" height="32">
                </a>
            </div>
         <!-- LOGO-->
             <div class="logo">
                <img src="../../asset/img/lecraack.jpg" alt="logo lecrack" width="900" height="250">
            </div>
        <!-- Cierre Logo-->
            <div>
                <h1 class="eslogan">
                    look and outfit
                 </h1>
            </div>
            <nav class="nav"> 
                <ul class="menu">
                    <li><a href="../../index.html">INICIO </a></li>
                    <li><a href="../../views/barberia/barberia.html"> BARBERIA</a> </li>
                    <li><a href="../../views/reserva/reserva.html"> RESERVA</a> </li>
                    <li><a href="../../views/tienda/tienda.html"> TIENDA</a>  </li>
                </ul>
            
            </nav>
           
    </header>
          <!-- Cierre encabezado-->
          <!-- incio de contenido-->
            <main>
                <div>
                    <h1>Selecciona tu día y horario</h1>
                </div>
                <div>
                    Calendario ?)
                </div>
              <form>
                  <input type="text" name="nombre" placeholder="NOMBRE"> <br>
                  <input type="email" name="correo electronico" placeholder="CORREO ELECTRONICO"><br>
                  <input type="tel" name="telefono" placeholder="TELEFONO"><br>
                
                <a href="../../asset/img/turno reservado.png">
                  <input type="submit" value="ENVIAR">
                </a>
                  <input type="reset" value="RESET">
              </form>
              
            </main>
          <!-- cierre de contenido-->
          <!-- inicio footer-->
          <footer>
            <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13585.247456582532!2d-63.9087594!3d-31.6526865!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xac5e84b559f51086!2sLe%20Crack!5e0!3m2!1ses-419!2sar!4v1643038807278!5m2!1ses-419!2sar" width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
           <div class="horarios">
            <h4>
                de martes a sábados
            </h4>
            <h4>
                de 17:00hs a 21:00hs
            </h4>
           </div>

    </footer>
          <!--cierre footer-->
</body>
</html>